.tags-container {
    width: 300px; /* Largeur identique à Recent Posts */
    border: 1px solid #ddd; /* Bordure grise */
    border-radius: 5px; /* Coins arrondis */
    padding: 20px; /* Espacement intérieur */
    background-color: #fff; /* Fond blanc */
    position: relative;
    left: 1200px;
    bottom: -150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tags-title {
    margin-bottom: 40px; /* Espacement entre le titre et les tags */
    font-size: 21px;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    color: #333;
  }
  
  .tags-list {
    display: flex;
    flex-wrap: wrap; /* Les tags se placent sur plusieurs lignes si nécessaire */
    gap: 10px; /* Espacement entre les tags */
  }
  
  .tag-item {
    background-color: #fff; /* Fond blanc */
    border: 1px solid #ddd; /* Bordure grise */
    color: #ff0e47; /* Texte en rose */
    font-size: 16px;
    font-family: "Libre Franklin", sans-serif;
    padding: 10px 15px; /* Taille des boutons */
    border-radius: 3px; /* Coins légèrement arrondis */
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .active-tag {
    background-color: #ff0066; /* Fond rose pour le tag actif */
    color: #fff; /* Texte blanc pour le tag actif */
    border: none; /* Pas de bordure pour le tag actif */
  }
  